img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(50%)

}
.app {
  width: 100vw;
  height: 100vh;
}



.rotate {
  margin-right: 10px;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@media only screen and (max-width: 3000px) {
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  .tablet {
    display: flex;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .mobile {
    display: flex;
  }
  .tablet {
    display: none;
  }
  .desktop {
    display: none;
  }
}
